<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size: 17px;padding-left: 1px;">
      <strong>{{topicoEscolhido.titulo}}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img style="width: 165px;height: 100px;margin: 5px auto" src="{{icon}}" />
    <ion-card-header>
      <ion-card-title>Definição</ion-card-title>
    </ion-card-header>
    <ion-card-content name="definicao" style="text-align: justify;">
      {{topicoEscolhido.definicao}}
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Sintomas</ion-card-title>
    </ion-card-header>
    <ion-card-content name="sintomas" style="text-align: justify;">
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Atendimento</ion-card-title>
    </ion-card-header>
    <ion-card-content name="atendimento" style="text-align: justify;">
      {{topicoEscolhido.textoAdicional}}
    </ion-card-content>
  </ion-card>
</ion-content>