<ion-header translucent>
  <ion-toolbar>
    <ion-avatar style="width: 40px; height: 40px;" slot="start">
      <img src="assets/hospital.png">
    </ion-avatar>
    <ion-title style="text-align: center;font-size: 15px;padding-left: 1px;">
      <strong>FIQUE CALMO! PEÇA AJUDA - 192</strong>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (click)="openBusca()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item data-toggle="collapse" data-target="#{{topico.title}}" *ngFor="let topico of topicosApp">
      <ion-avatar slot="start">
        <img src="{{topico.icon}}">
      </ion-avatar>
      <ion-label>
        <h2 style="font-size: 18px;font-family: 'Comic Sans MS', cursive, sans-serif;">{{topico.title}}</h2>
        <p id="{{topico.title}}" class="collapse" ngClass="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        </p>
      </ion-label>

    </ion-item>

  </ion-list>
</ion-content>