ion-toolbar {
  --color: #FFFF;
  --background: rgb(248, 63, 63);
  height: 70px;
}


ion-card-content {
  overflow: hidden;
  white-space: normal;
}

ion-card-title {
  text-overflow: ellipsis;
  font-family: "Comic Sans MS", cursive, sans-serif;

}