ion-toolbar {
  font-family: "Arial Black", Gadget, sans-serif;
  --color: #fe3d3d;
  --background: var(--ion-color-primary-contrast, #fff);
}


ion-card-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-card-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  --color: darkgray;
}

ion-avatar {
  --border-radius: 1px;
}

ion-item {
  --background: #f7f5d3;
  
  --color: rgb(207, 93, 93);
}